<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="category.categoryId"
          name="id"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="category.categoryDescription"
          name="description"
        />
      </div>

      <button (click)="saveCategory()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Cagtegoria se guardo exitosamente!</h4>
      <button class="btn btn-success" (click)="newCategory()">Add</button>
    </div>
  </div>
</div>
